<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div th:fragment="footer">
        <style type="text/css">
            #footer{
                height: 80px;
                width: 100%;
                line-height: 25px;
                text-align: center;
                background-color: #00AEAE;
                padding:20px;
                position: fixed;
                bottom: 5px;
            }
        </style>
        <div id="footer">
            <p>关于|广告服务|招聘|客服中心|QQ留言|网站管理|加入我们</p>
            <p>Copyright ©2006-2019 All Rights Reserved</p>
        </div>
    </div>
</body>
</html>